{% extends 'miapp/plantilla.html' %}
{% load static %}
{% block content %}

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-innerv text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">21/05/2020</span>
            <span class="section-heading-lower">GUARDIAS DE SEGURIDAD PARA PLANTA MAQUILADORA!</span>
          </h2>
          <p class="mb-0">
            <img class="mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static 'miapp/img/guardia.jpeg' %}" alt="">
          </p>
          <p class="mb-0 mbt">
            Personal para Seguridad, nuestro perfil es: Se solicitan Guardias de Seguridad, con experiencia en seguridad,  Edad de 25 a 45 años, conocimientos de contra incendio y primeros auxilios, Computación básica-preferente, 1.70 mínimo de estatura, escolaridad mínima secundaria, No ex policías, ni tránsitos o custodios de penal, Se ofrecen prestaciones de ley, Jornada de 12 horas  de 6 a 6 y trabajos de 12 horas por 24 de descanso
          </p>
          <p class="mb-0 mbt">
            <span class="section-heading-under">Publicado por <em><b>Perfiles confiables</b></em> en <em><a href="#" class="link">Seguridad</a>, <a href="#" class="link">más info</a></em></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %} 
